@use 'sass-utils/variables' as *;
@use 'sass-utils/mixins' as *;

.cluster-form {
  &__header {
    @include cluster($spacing-sm);
  }

  &__footer {
    margin-top: $spacing-lg;
  }

  &__destinations {
    margin-top: $spacing-sm;

    @include mobile-only {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }

    .destinations__table {
      @include form-table;
    }
  }
}
