<div class="cluster-form__layout p-xl">
  <div class="cluster-form__header mb-md">
    <span class="cluster-form__title font-weight-bold">Fill cluster details</span>
    <span
      class="material-symbols-outlined font-size-2xl cursor-pointer"
      [matTooltip]="ToolTipText.ClusterDetails"
      matTooltipClass="tooltip-class"
      matTooltipPosition="right"
    >
      info
    </span>
  </div>

  <div class="cluster-form__content">
    <div class="cluster-form__form">
      <form [formGroup]="clusterForm">
        <div class="row">
          <div class="col-12 col-md-4">
            <mat-form-field class="w-100 font-size-xl">
              <mat-label>Cluster Id</mat-label>
              <input matInput type="text" formControlName="clusterId" />
              <mat-error>{{ getErrorMessages('clusterId') }}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-12 col-md-4">
            <mat-form-field class="w-100 font-size-xl">
              <mat-label>Load balancer policy</mat-label>
              <!-- <input matInput type="text" formControlName="loadBalancingPolicy" /> -->
              <mat-select formControlName="loadBalancingPolicy">
                <mat-option *ngFor="let option of loadBalancerPolicyOptions" [value]="option">
                  {{ loadBalancerLabel(option) }}
                </mat-option>
              </mat-select>
              <mat-error>{{ getErrorMessages('loadBalancingPolicy') }}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-6 col-md-3">
            <mat-checkbox color="primary" class="font-size-xl" formControlName="healthCheckEnabled">
              Enable health check
            </mat-checkbox>
          </div>
        </div>

        <ng-container>
          <div class="row mt-xl" [class.content-disabled]="!clusterForm.get('healthCheckEnabled').value">
            <div class="col-12 col-md-4">
              <mat-form-field class="w-100 font-size-xl">
                <mat-label>Health check path</mat-label>
                <input matInput type="text" formControlName="healthCheckPath" />
                <mat-error>{{ getErrorMessages('healthCheckPath') }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-12 col-md-2">
              <mat-form-field class="w-100 font-size-xl">
                <mat-label>Health check timeout</mat-label>
                <input matInput type="text" formControlName="healthCheckTimeout" />
                <mat-error>{{ getErrorMessages('healthCheckTimeout') }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-12 col-md-2">
              <mat-form-field class="w-100 font-size-xl">
                <mat-label>Health check interval</mat-label>
                <input matInput type="text" formControlName="healthCheckInterval" />
                <mat-error>{{ getErrorMessages('healthCheckInterval') }}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </ng-container>

        <div class="row mt-lg">
          <div class="col-12 col-md-8">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center gap-sm">
                <span class="font-weight-bold">Destinations</span>
                <span
                  class="material-symbols-outlined font-size-2xl cursor-pointer"
                  [matTooltip]="ToolTipText.Destinations"
                  matTooltipClass="tooltip-class"
                  matTooltipPosition="right"
                >
                  info
                </span>
              </div>
              <span
                class="material-symbols-outlined mr-lg cursor-pointer p-xs border-radius-full"
                matRipple
                (click)="addDestination()"
              >
                add
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-8">
            <div class="cluster-form__destinations">
              <table class="destinations__table">
                <thead>
                  <tr>
                    <th></th>
                    <th>Destination Id</th>
                    <th>Address</th>
                    <th>Status</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody formArrayName="destinations">
                  <tr
                    @fadeSlideInOut
                    *ngFor="let destination of destinations.controls; let destinationFormGroup = index"
                    [ngClass]="{
                      'bg-error':
                        isDestinationFormDirty(destinationFormGroup) && !isDestinationFormValid(destinationFormGroup)
                    }"
                  >
                    <ng-container [formGroupName]="destinationFormGroup">
                      <td>
                        <span
                          *ngIf="isDestinationFormDirty(destinationFormGroup)"
                          class="material-symbols-outlined font-size-3xl"
                          [ngClass]="{
                            'text-error': !isDestinationFormValid(destinationFormGroup),
                            'text-success': isDestinationFormValid(destinationFormGroup)
                          }"
                        >
                          {{ isDestinationFormValid(destinationFormGroup) ? 'check_circle' : 'cancel' }}
                        </span>
                      </td>
                      <td>
                        <div class="form-field">
                          <input type="text" formControlName="destinationId" />
                        </div>
                      </td>
                      <td>
                        <div class="form-field">
                          <input type="text" formControlName="address" />
                        </div>
                      </td>
                      <td>
                        <div class="form-field">
                          <mat-slide-toggle formControlName="isActive" color="primary"></mat-slide-toggle>
                        </div>
                      </td>
                      <td>
                        <span
                          class="material-symbols-outlined font-size-3xl text-error cursor-pointer"
                          (click)="removeDestination(destinationFormGroup)"
                        >
                          delete
                        </span>
                      </td>
                    </ng-container>
                  </tr>
                </tbody>
              </table>
              <div class="mt-md" *ngIf="!isAnyDestinationProvided">
                <p class="text-error font-size-lg">Please select at least one destination</p>
              </div>
              <div class="mt-md" *ngIf="shouldShowDestinationFormErrors()">
                <p class="text-error font-size-lg">Please fill all the destinations with valid values</p>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="cluster-form__footer">
      <blogsphere-button
        [isLoading]="(isCreatingCluster$ | async) || (isUpdatingCluster$ | async)"
        [type]="ButtonType.secondary"
        [size]="ButtonSize.small"
        (next)="onSubmit()"
      >
        {{ isEditMode ? 'Update' : 'Create' }}
      </blogsphere-button>
    </div>
  </div>
</div>
