@use 'sass-utils/variables' as *;
@use 'sass-utils/mixins' as *;

:host {
  display: inline-flex;
}

.status-pill {
  @include status-pill('neutral');

  &__icon {
    font-size: 1rem;
    line-height: 1;
  }

  &__label {
    line-height: 1;
  }

  &--success { @include status-pill('success'); }
  &--warning { @include status-pill('warning'); }
  &--error   { @include status-pill('error'); }
  &--info    { @include status-pill('info'); }
  &--neutral { @include status-pill('neutral'); }

  &--sm {
    padding: 1px $spacing-xs;

    .status-pill__icon {
      font-size: 0.875rem;
    }
  }
}
