<button
  class="button__layout"
  [ngClass]="buttonClasses"
  [disabled]="isDisabled || isLoading"
  (click)="onButtonClick($event)"
  [attr.aria-label]="isLoading ? 'Loading...' : null"
  >
  <!-- Icon Left -->
  @if (icon && iconPosition === 'left' && !isLoading) {
    <i
      class="button__layout-icon button__layout-icon--left {{ icon }}"
    ></i>
  }

  <!-- Content -->
  <span
    class="button__layout-label"
    [class.button__layout-label--hidden]="isLoading"
    >
    <ng-content></ng-content>
  </span>

  <!-- Icon Right -->
  @if (icon && iconPosition === 'right' && !isLoading) {
    <i
      class="button__layout-icon button__layout-icon--right {{ icon }}"
    ></i>
  }

  <!-- Loading Spinner -->
  @if (isLoading) {
    <div class="button__layout-spinner">
      <div class="spinner-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  }
</button>
