@if (!(isLoading$ | async) && (apiProducts$ | async) !== null) {
  <div class="row">
    <div class="col-12 mb-lg">
      <div class="d-flex justify-content-between align-items-center">
        <h3 class="mt-sm">Api products</h3>
        <blogsphere-button
          [type]="ButtonType.secondary"
          [size]="ButtonSize.small"
          (next)="openCreateApiProductDialog()"
        >
          Create Api Product
        </blogsphere-button>
      </div>
    </div>
  </div>
  @if (totalCount$ | async; as total) {
    @if (total > 0 && paginationMeta$ | async; as pm) {
      <div class="row">
        <div class="col-12">
          <blogsphere-table
            [dataSource]="apiProductDataSource"
            [columns]="displayedColumns"
            [columnMap]="columnNameMap"
            [paginationMetadata]="pm"
            [dataLength]="total"
            [actionEnabled]="true"
            (visit)="onViewProduct($event)"
            (pageChange)="onPageChange($event)"
            [allowVisit]="true"
            [allowEdit]="false"
            [allowDelete]="false"
          ></blogsphere-table>
        </div>
      </div>
    }
    @else if (total === 0) {
      <div class="row">
        <div class="col-12">
          <div class="subscription-empty d-flex justify-content-center align-items-center">
            <div class="subscription-empty__content text-center">
              <h2 class="text-3xl font-bold">No api products found</h2>
              <p class="text-2xl">There are no api products available at the moment.</p>
              <blogsphere-button
                [type]="ButtonType.secondary"
                [size]="ButtonSize.small"
                (next)="openCreateApiProductDialog()"
              >
                Create Api Product
              </blogsphere-button>
            </div>
          </div>
        </div>
      </div>
    }
  }
}

<blogsphere-loader [enabled]="isLoading$ | async"></blogsphere-loader>
