@use 'sass-utils/variables' as *;
@use 'sass-utils/mixins' as *;

.subscription-empty {
  min-height: 15rem;
  padding: $spacing-2xl 0;

  &__content {
    padding: $spacing-lg;
  }
}

.loading-state {
  @include flex-center;
  height: 100%;
}

.loading-state-content {
  text-align: center;
  padding: $spacing-lg;

  &-icon {
    font-size: $font-size-5xl;
    color: var(--mat-sys-primary);
  }

  &-text {
    font-size: $type-body-lg-size;
    color: var(--mat-sys-on-surface);
  }

  &-spinner {
    margin-top: $spacing-lg;
  }
}
