@use 'sass-utils/variables' as *;
@use 'sass-utils/mixins' as *;

.subscription-empty {
  min-height: 240px;
  padding: $spacing-2xl 0;

  &__content {
    padding: $spacing-lg;
  }
}

.loading-state {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loading-state-content {
  text-align: center;
  padding: $spacing-lg;
}

.loading-state-content-icon {
  font-size: $font-size-5xl;
  color: $color-primary;
}

.loading-state-content-text {
  font-size: $font-size-xl;
  color: $color-text-primary;
}

.loading-state-content-spinner {
  margin-top: $spacing-lg;
}
