<div @fadeSlideInOut class="route-list__container">
  <blogsphere-search-layout addButtonLabel="Create Api Route" filterLabel="API Route" [isFileterFormValid]="true">
    <ng-container>
      <!-- <blogsphere-route-filter-form [filterForm]="routeFilterForm"></blogsphere-route-filter-form> -->
      <p>Filter form will be added here</p>
    </ng-container>
  </blogsphere-search-layout>

  @if (!(isApiRoutesLoading$ | async) && !(isApiRouteCountLoading$ | async)) {
    @if (!(isMobileView$ | async)) {
      <div class="row">
        <div class="col-sm-12">
          @if ((totalApiRoutes$ | async) > 0) {
            <blogsphere-table
              [dataSource]="apiRouteDataSource"
              [columns]="displayedColumns"
              [paginationMetadata]="apiRoutesPageMetadata$ | async"
              [dataLength]="totalApiRoutes$ | async"
              [columnMap]="columnNameMap"
              [actionEnabled]="true"
              (visit)="onView($event)"
              (edit)="onEdit($event)"
              (pageChange)="onPageChange($event)"
              [allowEdit]="allowEditOption$ | async"
              [allowDelete]="false"
              (linkClick)="onLinkClick($event)"
            ></blogsphere-table>
          }
          @if ((totalApiRoutes$ | async) === 0) {
            <blogsphere-no-content-layout
              [title]="'No API Routes'"
              [subtitle]="'There are no API routes to display.'"
              [buttonLabel]="'Add API Route'"
              [showButton]="!isFilterApplied && !isSearchApplied"
              [iconType]="'empty'"
            ></blogsphere-no-content-layout>
          }
        </div>
      </div>
    }
  }

  <div class="w-100 d-flex justify-content-center">
    @if ((isApiRoutesLoading$ | async) || (isApiRouteCountLoading$ | async)) {
      <mat-progress-spinner
        mode="indeterminate"
        diameter="50"
        color="primary"
      ></mat-progress-spinner>
    }
  </div>
</div>