<div [ngClass]="cardClasses">
  <div class="info-card__content">
    <!-- Header with icon and title -->
    <div class="info-card__header" *ngIf="showIcon || title">
      <div class="info-card__header-content">
        <span
          *ngIf="showIcon && icon"
          class="info-card__icon material-symbols-outlined"
        >
          {{ icon }}
        </span>
        <h3 *ngIf="title" class="info-card__title">{{ title }}</h3>
      </div>
    </div>

    <!-- Body content -->
    <div class="info-card__body">
      <ng-content></ng-content>
    </div>
  </div>
</div>
