@import "../assets/styles/sass-utils/variables";

$page-content-padding: 1.5rem 4.5rem 0 4.5rem;
$page-content-padding-mobile: 1.2rem 1.5rem 0 1.5rem;

.app__main {
  height: 100vh;
  &__container {
    flex: 1;
    .app__main--content {
      z-index: 1 !important;
      flex: 1;
      padding: 16px;
      // background-color: $gray-100;
      padding: $page-content-padding;
    }
  }
}