@use 'sass-utils/variables' as *;

:host {
  display: block;
}

.sidenav__content-list--item {
  min-height: 5rem;
  overflow: hidden;
  padding: 1rem 0 0 0;
  margin-bottom: 1.5rem;

  &:hover {
    transition: all 0.1s ease-in-out;
    .main-content {
      cursor: pointer;
      .item-icon,
      .item-label {
        color: $color-primary;
        transition: all 0.1s ease-in-out;
      }
    }
  }

  .main-content {
    padding-left: 2.5rem;
    display: flex;
    align-items: center;
    column-gap: 2.6rem;
    .item-icon {
      color: $color-text-secondary;
      &:last-child {
        margin-right: 2rem;
        justify-self: right !important;
      }
    }
    .item-label {
      font-size: $font-size-2xl;
      color: #3b3b3b;
      flex-grow: 1;
      white-space: nowrap;
    }
  }

  &.route-active {
    background-color: $color-primary;
    .item-icon,
    .item-label {
      color: $color-accent !important;
    }
    .mat-ripple-element {
      display: none !important;
    }
  }
}
