<div class="container" [formGroup]="filterForm">
  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="font-size-xl">
        <mat-label>Load balancer type</mat-label>
        <mat-select formControlName="loadBalancerName">
          @for (option of loadBalancerPolicyOptions; track option) {
            <mat-option [value]="option">
              {{ loadBalancerLabel(option) }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="font-size-xl">
        <mat-label>Cluster status</mat-label>
        <mat-select formControlName="status">
          <mat-option value="Active">Active</mat-option>
          <mat-option value="Inactive">Inactive</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row mt-md">
    <div class="col-12">
      <h5>Filter by date</h5>
    </div>
    <div class="col-md-6">
      <mat-form-field class="font-size-xl">
        <mat-label>From date</mat-label>
        <input
          matInput
          [matDatepicker]="fromPicker"
          [min]="fromMinDate"
          [max]="fromMaxDate"
          formControlName="fromDate"
        />
        <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
        <mat-datepicker #fromPicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="font-size-xl" appearance="outline">
        <mat-label>To date</mat-label>
        <input matInput [matDatepicker]="topicker" [min]="toMinDate" [max]="toMaxDate" formControlName="toDate" />
        <mat-datepicker-toggle matSuffix [for]="topicker"></mat-datepicker-toggle>
        <mat-datepicker #topicker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
</div>
