<!-- Mobile backdrop overlay -->
<div
  class="sidenav-backdrop"
  [class.sidenav-backdrop--show]="isMobileView && isSidenavExpanded"
  (click)="handleBackdropClick()"
></div>

<div
  class="sidenav border-right shadow shadow-md"
  [class.sidenav--collapse]="!isMobileView && !isSidenavExpanded"
  [class.sidenav--collapse-full]="isMobileView && isSidenavExpanded"
>
  <div class="sidenav__content">
    <div class="sidenav__content-list" role="list">
      <blogsphere-sidebar-nav-link
        link="/dashboard"
        icon="dashboard"
        label="Dashboard"
        (navigate)="handleSidenavItemClick()"
      />
      @if (canAccessSystemSettings$ | async) {
        <blogsphere-sidebar-nav-link
          link="/subscription"
          icon="subscriptions"
          label="Subscription manager"
          (navigate)="handleSidenavItemClick()"
        />
        <blogsphere-sidebar-expandable-nav-item
          [expanded]="subMenuList.apiManager"
          [submenuItems]="apiManagerSubmenuItems"
          [label]="'Api manager'"
          headerIcon="api"
          (headerClick)="handleSidenavItemClick('apiManager')"
          (submenuNavigate)="hadndleSubmenuClick()"
        />
      }
      @if (canAccessUserManagement$ | async) {
        <blogsphere-sidebar-expandable-nav-item
          [expanded]="subMenuList.userManagement"
          [submenuItems]="userManagementSubmenuItems"
          [label]="'User manager'"
          headerIcon="people"
          (headerClick)="handleSidenavItemClick('userManagement')"
          (submenuNavigate)="hadndleSubmenuClick()"
        />
      }
    </div>
  </div>
</div>
