<div @fadeSlideInOut class="cluster-list__container">
  <blogsphere-search-layout addButtonLabel="Create Api Cluster" filterLabel="API Cluster" [isFileterFormValid]="true">
    <ng-container>
      <blogsphere-cluster-filter-form [filterForm]="clusterFilterForm"></blogsphere-cluster-filter-form>
    </ng-container>
  </blogsphere-search-layout>

  @if (!(isApiClustersLoading$ | async) && !(isApiClusterCountLoading$ | async)) {
    @if (!(isMobileView$ | async)) {
      <div class="row">
        <div class="col-sm-12">
          @if ((totalApiClusters$ | async) > 0) {
            <blogsphere-table
              [dataSource]="apiCusterDataSource"
              [columns]="displayedColumns"
              [paginationMetadata]="apiClustersPageMetadata$ | async"
              [dataLength]="totalApiClusters$ | async"
              [columnMap]="columnNameMap"
              [actionEnabled]="true"
              (visit)="onView($event)"
              (edit)="onEdit($event)"
              (pageChange)="onPageChange($event)"
              [allowEdit]="allowEditOption$ | async"
              [allowDelete]="false"
              (linkClick)="onLinkClick($event)"
            ></blogsphere-table>
          }
          @if ((totalApiClusters$ | async) === 0) {
            <blogsphere-no-content-layout
              [title]="'No API Clusters'"
              [subtitle]="'There are no API clusters to display.'"
              [buttonLabel]="'Add API Cluster'"
              [showButton]="!isFilterApplied && !isSearchApplied"
              [iconType]="'empty'"
            ></blogsphere-no-content-layout>
          }
        </div>
      </div>
    }
  }

  <div class="w-100 d-flex justify-content-center">
    @if ((isApiClustersLoading$ | async) || (isApiClusterCountLoading$ | async)) {
      <mat-progress-spinner
        mode="indeterminate"
        diameter="50"
        color="primary"
      ></mat-progress-spinner>
    }
  </div>
</div>
